<footer>
  <small>
  Made with &hearts; by <a href="https://github.com/lfosgett">Lauren Fosgett</a>
<br>Built with <a href="https://www.11ty.io">Eleventy</a>, Deployed with <a href="https://www.netlify.com">Netlify</a>.
  </small>
</footer>
